/* Remove default margin */
body {
    margin: 0;
}

/* Logo header */
#logo {
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Page contents */
.content {
    display: flex;
}

/* Flexbox blocks */
.block {
    display: flex;
    align-items: center;
    flex: 1;
}

/* Section titles */
.block-title {
    color:beige;
    background-color: 212529;
    font-family: Haettenschweiler;
    font-size: 150px;
    padding: 50px;
}

/* Secction texts */
.block-text {
    color:darkslategray;
    font-size: 35px;
    font-family: Verdana;
    text-align: center;
    padding: 90px;
}

/* Previous Projects section */
#projects-title {
    justify-content: left;
}

h3 {
    font-style: italic;
}

#pizza {
    background-color: adb5bd;
    display: flex;
    flex-direction: column;
}

#nyan {
    background-color: ced4da;
    display: flex;
    flex-direction: column;
}

/* Skills section */
#skills {
    flex-direction: row-reverse;
}

#skills-title {
    background-color: 495057;
    justify-content: left;
}

/* Skill list */
#skills-text {
    background-color: dee2e6;
    display: flex;
    flex-direction: column; 
    border-spacing: 10px;
}

/* Autobiography section */
#bio-title {
    background-color: 6c757d;
    justify-content: right;
}

#bio-text {
    background-color: e9ecef;
    font-family: 'Arial';
}